/*저는 css 주석입니다. 주석은 이렇게 언어마다 열고 닫는 법이 달라요*/
.alertBoxCss {
    background: #a192ea;
    color: #2700d6;
    padding: 20px;
    border-radius: 5px;
    display: none;
} 
/*저는 css 주석입니다. 주석은 이렇게 언어마다 열고 닫는 법이 달라요*/
/*css에서는 클래스라는 친구를 써요. 클래스는 HTML과 연동됩니다. html 파일에서 css 스타일시트를 가져올게요 하는 부분에서 이 파일을 불러오고 클래스명을 연동시켰습니다.

.클래스이름 {
    클래스 정의
}

*/
